<h2 class="background double"><span>Мощный инструмент</span></h2>
<h5 style="text-align: center;"><span>для достижения лучших результатов</span></h5>
<br>
<div class="slide">
  <ul class="list-step">
    <li>
      <div class="inner">
        <input class="main_input" id="step-1" type="radio" name="step" checked="checked"/>
        <label class="main_label" for="step-1">
          <p>Планируйте соревнавания, выбирая их из общего списка или создавая собственное</p><span class="fa fa-2x fa-chrome"></span>
        </label>
        <div class="img-wrapper"><img src="/static/imgs/main_flag.JPG"/></div>
      </div>
    </li>
    <li>
      <div class="inner">
        <input class="main_input" id="step-2" type="radio" name="step" />
        <label class="main_label" for="step-2">
          <p>У вас есть доступ к календарю со всеми вашими событиями</p><span class="fa fa-2x fa-firefox"></span>
        </label>
        <div class="img-wrapper"><img src="/static/imgs/main_event.jpeg"/></div>
      </div>
    </li>
    <li>
      <div class="inner">
        <input class="main_input" id="step-3" type="radio" name="step" />
        <label class="main_label" for="step-3">
          <p>Создавайте статистику каждого сыгранного дня</p><span class="fa fa-2x fa-opera"></span>
        </label>
        <div class="img-wrapper"><img src="/static/imgs/main_rain.JPG"/></div>
      </div>
    </li>
    <li>
      <div class="inner">
        <input class="main_input" id="step-4" type="radio" name="step" />
        <label class="main_label" for="step-4">
          <p>Создавайте тренировки и выполняйте поставленные задачи</p><span class="fa fa-2x fa-safari"></span>
        </label>
        <div class="img-wrapper"><img src="/static/imgs/main_range.JPG"/></div>
      </div>
    </li>

  </ul>
</div>