{% if messages %}
    {% for message in messages %}

    <div id="message" class="alert {{message.tags}} alert-dismissible fade show" style="z-index: 3; position: relative; width: 48%; margin-top: 5px; ">
        {{ message }}
        <a id="close_message" style="right: 10px; position: absolute; margin: 0; cursor: pointer;">
            <svg style="height:26px; width:26px; color:#2D3436;" class="bi bi-x" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M5.646 5.646a.5.5 0 000 .708l8 8a.5.5 0 00.708-.708l-8-8a.5.5 0 00-.708 0z" clip-rule="evenodd"></path>
                <path fill-rule="evenodd" d="M14.354 5.646a.5.5 0 010 .708l-8 8a.5.5 0 01-.708-.708l8-8a.5.5 0 01.708 0z" clip-rule="evenodd"></path>
            </svg>
        </a>
    </div>
    {% endfor %}
{% endif %}
