
     <div class="card-deck" style="margin-right: 15px;margin-left: 15px;">
         <div style="margin-right: 10px;margin-left: 10px;">
             <div id="photo" style="background-image: url('../static/imgs/icon.png');" class="profile-pic_show">
                </div>
             <div class="button_container">
                 <button style="display:none;" class="add_friend">Добавить в друзья</button>
                 <button style="display:none;"class="request_sent">Запрос отправлен</button>
                 <button style="display:none;"class="your_friend">У вас в друзьях</button>
             </div>
         </div>
         <div class="card mb-3 profile_card" style="max-width: 35rem; min-width: 27rem;">
            <div class="card-header">
                <h1 class="initials" id="full_name">Имя Фамилия</h1>
                <span class="status" id="status">статус</span>
            </div>
            <div class="card-body text-secondary ">
                <div class="container">
                    <div class="row">
                        <div class="col-5 selectors no-padding" >
                            <div class="marker">Логин</div>
                        </div>
                        <div class="col no-padding">
                          <div class="marker" id="login"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5 selectors no-padding" >
                            <div class="marker">Гандикап</div>
                        </div>
                        <div class="col no-padding">
                          <div class="marker" id="skill"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5 selectors no-padding" >
                            <div class="marker">Дата рождения</div>
                        </div>
                        <div class="col no-padding">
                          <div class="marker" id="date_of_birth"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5 selectors no-padding" >
                            <div class="marker">Город</div>
                        </div>
                        <div class="col no-padding">
                          <div class="marker" id="city_from"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5 selectors no-padding" >
                            <div class="marker">Дата регистрации</div>
                        </div>
                        <div class="col no-padding">
                          <div class="marker" id="date_of_registration"></div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
     </div>
