<div class="tasks_header" style="margin-bottom: 1%;">Все пользователи</div>
<input class="form-control" type="text" placeholder="Поиск по username, имени и фамилии" id="search-user" onkeyup="tableSearch('search-user','users_table')"><br>

<table class="table table-hover" id="users_table" style="display:none;">
    <thead style="background-color: #196625; color: #dfe9e9; margin: 0 5%;">
        <tr>
          <th scope="col">#</th>
          <th scope="col" style="width: 44%;">Username</th>
          <th scope="col" style="width: 28%;">Имя</th>
          <th scope="col" style="width: 28%;">Фамилия</th>
        </tr>
    </thead>
    <tbody id="users_table_info">

    </tbody>
</table>