
<div class="tasks_header">Статистика по соревнованиям</div>
<div id="game_selection"></div>

<div class="row" id="no_games_to_show_table" style="display:none;">
    <div class="col-12 text-center logo">
        <br>
        <span class="big_logo">\(o_o)/</span><br>
        <span class="text_logo">Похоже, что у Вас нет запланированных игр</span><br>
        <span class="text_logo">Запланируйте игру, создайте статистику, и она здесь появится</span><br><br>
    </div>
</div>

<div id="result_statistic"></div>

<div class="" id="date_selection"></div>
<div class="" id="table_for_statistic"></div>
<button id="show_graf" class="classic_button" type="submit" onclick="draw_graf(2);" style="display: none;">Построить диаграмму по данным таблицы</button>
<div class="" id="date_statistic_1"></div>
<div class="" id="date_statistic_2"></div>

<div class="row" id="no_statistics_table" style="display:none;">
    <div class="col-12 text-center logo">
        <br>
        <span class="big_logo">\(o_o)/</span><br>
        <span class="text_logo">Похоже, что у Вас не статистики ни по одному дню этой игры</span><br>
        <span class="text_logo">Создайте статистику и она здесь появится</span><br><br>
    </div>
</div>
