<div class="tasks_header">
    Ваши тренировки и задачи
    <br>
    <button class="classic_button" id="save_tasks" onclick="save_tasks();"> Сохранить задачи</button>
</div>
<div class="tasks-wrapper" id="task_container">

    <div class="row" id="no_trainings_table" style="display:none;">
        <div class="col-12 text-center logo">
            <br>
            <span class="big_logo">\(o_o)/</span><br>
            <span class="text_logo">Похоже, что у Вас нет тренировок</span><br>
            <span class="text_logo">Создайте тренировку и она здесь появится</span><br><br>
        </div>
    </div>
</div>