<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новый пароль</title>
    {% load static %}
    <link rel="stylesheet" href={% static "css/bootstrap.css" %} >
    <link rel="stylesheet" href={% static "css/index.css" %} >
</head>
<body>
<div style="background: rgba(45, 52, 54, 1.0);" class="container" id="container">
    <div style="margin-top: 3%;" class="reset_div">
        <h1 style="width: 50%;">Введите ваш новый пароль</h1>
        <form class="form" action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div style="color: beige;">
                {{ form.as_p }}
            </div>
            <button type="submit" class="reset_btn">submit</button>
        </form>
    </div>
</div>
</body>
</html>