<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Запрос отправлен</title>
        {% load static %}
    <link rel="stylesheet" href={% static "css/bootstrap.css" %} >
    <link rel="stylesheet" href={% static "css/index.css" %} >
</head>
<body>
<div style="background: rgba(45, 52, 54, 1.0);" class="container" id="container">
    <div class="reset_div" style="width: 50%;">
    <h1>Востановление пароля</h1>
    <p style="color: beige;">Мы отправили вам ссылку для сброса пароля на вашу электронную почту. Пожалуйста, проверьте свою электронную почту.</p>
    </div>
</div>
</body>
</html>