<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Успешный сброс</title>
        {% load static %}
    <link rel="stylesheet" href={% static "css/bootstrap.css" %} >
    <link rel="stylesheet" href={% static "css/index.css" %} >
</head>
<body>
<div style="background: rgba(45, 52, 54, 1.0);" class="container" id="container">
    <div class="reset_div" style="width: 50%;">
    <h1 style="margin-bottom: 5%;">Востановление пароля</h1>
    <h3 style="color: beige;">Ура! Ваш пароль был изменен.</h3>
    <a class="password_ready" href="/"><strong>Нажмите сюда, чтобы войти</strong></a>
    </div>
</div>
</body>
</html>