<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сброс пароля</title>
    {% load static %}
    <link rel="stylesheet" href={% static "css/bootstrap.css" %} >
    <link rel="stylesheet" href={% static "css/index.css" %} >
</head>
<body>
<div style="background: rgba(45, 52, 54, 1.0);" class="container" id="container">
    <div class="reset_div">
        <h1 style="width: 50%;">Восстановить пароль</h1>
        <form method="post">
            {% csrf_token %}
            <input class="reset_password" type="email" name="email" autocomplete="off" maxlength="254" required="" id="id_email" placeholder="Email">
            <button type="submit" class="reset_btn">submit</button>
        </form>
    </div>
</div>
</body>
</html>